// ==UserScript==
// @name         LegendJG Shellshock.io Theme
// @namespace    http://tampermonkey.net/
// @version      0.1
// @description  Please Subscribe Here:- https://www.youtube.com/channel/UC1iPevTdGXJgi4dVk5C3LQw
// @author       LegendJG
// @match        https://shellshock.io/*
// @grant        none
// ==/UserScript==

(function () {
    const addScript = () => {
        document.head.innerHTML += `<style>
* {
	--ss-transparent: #00000000;
	--ss-black: #000;
	--ss-white: #ffffff; /*White Text*/
	--ss-offwhite: #FFF3E4;
	--ss-yellow0:#F7FFC1;
	--ss-yellow: #FAF179;
	--ss-yolk0: #f1c59a;
	--ss-yolk: #F79520; /*Yellow Buttons*/
	--ss-yolk2: #d97611;
	--ss-red0: #e29092;
	--ss-red: #d15354;
	--ss-red2: #801919;
	--ss-red-bright: #EF3C39;
	--ss-pink: #EC008C;
	--ss-pink1: #b9006e;
	--ss-pink-light: #ff3aaf;7
	--ss-brown: #924e0c;
	--ss-blue00: #abe3f6;
	--ss-blue0: #0026ff; /*KDR boxes*/
	--ss-blue1: #8188c7;
	--ss-blue2: #6f00ff; /*left box colour*/ and /*weapons loudout*/
	--ss-blue3: #000000; /*Lighter Box Borders*/
	--ss-blue4: #ffffff; /*Blue Subtitles, Darker Box Borders*/
	--ss-blue5: #000000; /*kdr text*/
	--ss-green0: #87ddbb;
	--ss-green1: #3ebe8d;
	--ss-green2: #2a7256;
	--ss-orange1: #F79520;
	--ss-vip-gold: radial-gradient(circle, to right, #D1A943, #CFCDAF, #CC8630, #D1AA44, #CC8630);
	--ss-clear: rgba(255, 255, 255, 0);
	--ss-blue2clear: rgba(94, 186, 217, 0);
	--ss-shadow: rgba(0,0,0,0.4);
	--ss-blueshadow: linear-gradient(#000, #66000000);
	--ss-darkoverlay: rgba(0, 0, 0, 0.8);
	--ss-darkoverlay2: rgba(0, 0, 0, 0.2);
	--ss-lightoverlay: url("https://cdn.discordapp.com/attachments/824541983808684032/826359485059694653/imageedit_2_3433780218.jpg"); /*Main Background*/
	--ss-lightbackground: linear-gradient(var(--ss-blue1), var(--ss-blue2));
	--ss-blueblend1: linear-gradient(#7100fc, #66000000); /*Some Box fill colors*/
	--ss-scrollmask1: linear-gradient(#66000000, #000);
	--ss-scrollmask2: linear-gradient(#66000000, #000);
	--ss-fieldbg: linear-gradient(#91CADB, #ffffff, #ffffff, #ffffff, #ffffff);
	--ss-white-60: rgba(255,255,255,.6);
	--ss-white-90: rgba(255,255,255,.9);

	--ss-me-player-bg: rgba(247,149,32,.8);
	--ss-them-blue-bg: rgba(0,66,87,.8);
	--ss-them-blue-color: #0526e6;
	--ss-them-red-bg:  rgb(133,0,0,.8);
	--ss-them-red-color: #0526e6
	--ss-me-red-bg: rgba(255,65,69,.8);
	--ss-me-blue-bg: rgb(94,187,217,.8);
}
#maskmiddle {
	background: url('https://media.discordapp.net/attachments/824541983808684032/829268879729360906/shell_scope_blue.png') center center no-repeat;
	background-size: contain;
	width: 100vh;
	height: 100vh;
}
</style>`
    }
    document.body ? addScript() : document.addEventListener("DOMContentLoaded", e => addScript());
})();
